@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
    .btn-primary{
      padding: 20px 25px;
      border-radius: 8px;
      background: rgb(255, 144, 14);
      color: rgb(255, 255, 255);
      font-size: 1.2rem;
      font-weight: 600;
      border: none;
      margin-bottom: 50px;
    }
    .display-flex{
        display: flex;
    }
   main > section{
        margin-top: 130px;
   }
     /* dark01 */
    .text-gray{
        color: #424242;
    }
     /*  dark03*/
    .text-light-gray{
        color: #727272;
    }
    .bg-light{
        background: rgba(255, 144, 14, 0.1)
    }
    
  /* header styles */

  /* navbar related styles */
  .navbar{
        justify-content: space-between;
        align-items: center;
  }
  .brand{
        font-weight: 700;
        font-size: 3rem;
  }
  .nav-links{
         
  }

.nav-item{
       list-style: none;
       margin-right: 30px;
}
.nav-links{
       text-decoration: none;
       font-weight: 500;
}
.navbar, .banner{
  max-width: 1300px;
  margin: 0 auto;
}
/* banner content */
.banner-content{
       max-width: 850px;
       margin: 0 auto;
       text-align: center;
}
.banner-title{
       color: rgb(19, 19, 19);
       font-family: Work Sans;
       font-size: 4rem;
       font-weight: 700;
}
.banner-description{
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.banner-image{
  width: 100%;
}
   /* teams and feature */ 
   main{
        max-width: 1300px;
        margin: 0 auto;
    }
    .teams{
        border: 2px solid red;
        width: 1300px;
        align-items: center;
    }
    .team-img-container{
      border: 2px solid red;
      max-width: 700px;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
      
      
    }
    .our-features{
      border: 2px solid red;
      max-width: 600px;
      margin-left: 100px;
    }
    .section-title{
      font-size: 2.8rem;
      font-weight: 700;
    }
    #quick-list{
      font-weight: 500;
    }
    .text-primary{
      color: chocolate;
    }
 /* responsive media query */

 @media screen and (max-width: 576px) {
  .navbar, .nav-links, ..teams{
      flex-direction: column;
  }
 }

